/* Framework */
:root {
  --main-color: #1b9cfc;
  --nav-height: 60px;
  --search-width: 90%;
  --search-height: calc(var(--nav-height) - 20px);
  --send-search-width: 45px;
}

body {
  font-family: "Baloo Da 2", sans-serif;
}

.container {
  padding: 0 15px;
  margin: auto;
}

.active {
  color: #ffffff;
  background-color: var(--main-color);
}

.lead {
  font-size: 16px;
  line-height: 1.7;
  color: #666666;
}

nav a {
  color: inherit;
  text-decoration: none;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* Header Styles */
header nav {
  height: var(--nav-height);
  background-color: #ffffff;
  box-shadow: 0 0 10px #dddddd;
}

header nav .flex-wrapper {
  display: flex;
  height: var(--nav-height);
  justify-content: space-between;
  align-items: center;
}

header nav .flex-wrapper .logo {
  width: 15%;
  margin-right: 10px;
  text-align: center;
  color: var(--main-color);
}

header nav .flex-wrapper .logo h1 {
  height: 100%;
  margin: 0;
  font: bold 43px "Damion", sans-serif;
}

header nav .flex-wrapper .nav-links {
  display: flex;
  width: 60%;
  height: 100%;
  font-size: 18px;
  color: var(--main-color);
  text-transform: capitalize;
}

header nav .flex-wrapper .nav-links li {
  display: flex;
  width: 100%;
  height: 100%;
}

header nav .flex-wrapper .nav-links li a {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  transition: all .1s linear;
}

header nav .flex-wrapper .nav-links li a:hover {
  color: #ffffff;
  background-color: var(--main-color);
}

header nav .flex-wrapper .search-form {
  width: 25%;
}

header nav .flex-wrapper .search-form .search-box {
  position: relative;
  width: 100%;
  text-align: center;
}

header nav .flex-wrapper .search-form .search-box .search {
  width: var(--search-width);
  height: var(--search-height);
  padding-left: calc(var(--send-search-width) + 10px);
  border: 1px solid var(--main-color);
  outline: 0;
  border-radius: 15px;
  font-size: 18px;
  color: var(--main-color);
  background-color: #ffffff;
  transition: all .1s linear;
}

header nav .flex-wrapper .search-form .search-box .search:focus {
  color: #ffffff;
  background-color: var(--main-color);
}

header nav .flex-wrapper .search-form .search-box .search:focus::placeholder {
  opacity: 0;
}

header nav .flex-wrapper .search-form .search-box .send-search {
  position: absolute;
  top: 0;
  left: calc(50% - (var(--search-width) / 2));
  width: var(--send-search-width);
  height: var(--search-height);
  border: 1px solid var(--main-color);
  outline: 0;
  border-radius: 15px 0 0 15px;
  font-size: 19px;
  cursor: pointer;
  color: #ffffff;
  background-color: var(--main-color);
}

/* page intro */
header .page-intro {
  position: relative;
  height: 350px;
}

header .page-intro .content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--main-color);
  text-align: center;
}

header .page-intro .content .title {
  margin: 0;
  font: bold 28px "Baloo Da 2";
}

header .page-intro .content p {
  padding: 5px 0 15px;
  margin: 0;
}

header .page-intro .content .content-buttons {
  width: 190px;
  height: 50px;
  padding: 15px;
  border: 2px solid var(--main-color);
  outline: 0;
  border-radius: 5px;
  font-size: 18px;
  cursor: pointer;
  transition: all .1s linear;
}

header .page-intro .content .works-button {
  margin-right: 10px;
  color: #ffffff;
  background-color: var(--main-color);
}

header .page-intro .content .works-button:hover {
  background-color: #0080e6;
}

header .page-intro .content .learn-button {
  color: var(--main-color);
  background-color: #ffffff;
}

header .page-intro .content .learn-button:hover {
  background-color: #f2f2f2;
}

/* Main content */
main * {
  box-sizing: border-box;
}

/* features */
main .features {
  background-color: var(--main-color);
}

main .features .grid-wrapper {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(2, 50%);
  grid-template-rows: repeat(2, 100px);
}

main .features .grid-wrapper .feature {
  width: 100%;
  height: 100%;
  padding: 25px 15px;
  border: 1px solid #1095ff;
}

main .features .grid-wrapper .feature .feature-icon {
  position: relative;
  width: 80px;
  height: 100%;
  float: left;
  overflow: hidden;
  color: #ffffff;
  text-align: center;
}

main .features .grid-wrapper .feature .feature-icon i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 35px;
}

main .features .grid-wrapper .feature p {
  margin: 0;
  color: #ffffff;
} 
